<?xml version="1.0"?>
<launch>

	<node pkg="hbrs_example_ros_package" type="ros_node_example" name="ros_node_example" output="screen">
		<param name="my_param" type="double" value="1.5" />
	</node>

	<node pkg="hbrs_example_ros_package" type="ros_node_example.py" name="node_example" />

	<test test-name="test_node_example" pkg="hbrs_example_ros_package" type="integration_test.py" time-limit="5.0" />

</launch>
