<?xml version="1.0"?>
<launch>
	<node pkg="hbrs_object_categorization" type="object_categorization_geometric_node" name="hbrs_object_categorization" respawn="false" output="screen">
		<param name="home_path" value="$(find hbrs_object_categorization)/" />
		<remap from="/hbrs_object_categorization/object_candidates" to="/brsu_object_recognition/detected_objects" />
		<remap from="/hbrs_object_categorization/visualization_marker_array" to="/visualization_marker_array" />								
  </node>
</launch>
