<?xml version="1.0"?>
<launch>

	<!-- send table urdf to param server -->
	<param name="table_description" command="$(find xacro)/xacro.py $(find brsu_gazebo_worlds)/Media/models/objects/table.urdf.xacro" />
	
	<!-- push table_description to factory and spawn robot in gazebo -->
	<node name="spawn_table" pkg="gazebo" type="spawn_model" args="-urdf -param table_description -z 0.01 -x -2.0 -model table_model" respawn="false" output="screen" />

	<param name="simple_box" textfile="$(find brsu_gazebo_worlds)/Media/models/objects/simple_box.urdf" />
	<node name="spawn_simple_box" pkg="gazebo" type="spawn_model" args="-urdf -param simple_box -x -0.65 -y -0.0 -z 0.85 -model simple_box" respawn="false" output="screen" />

	<!--
	<param name="wine" textfile="$(find gazebo_worlds)/objects/000.580.67.model" />
	<node name="spawn_wine_cup" pkg="gazebo" type="spawn_model" args="-gazebo -param wine -x -0.65 -y -0.15 -z 0.85 -model wine" respawn="false" output="screen" />

	<param name="coffee_cup" textfile="$(find gazebo_worlds)/objects/coffee_cup.model" />
	<node name="spawn_coffee_cup" pkg="gazebo" type="spawn_model" args="-gazebo -param coffee_cup -x -0.65 -y 0.15 -z 0.85 -model coffee_cup" respawn="false" output="screen" />
	-->

</launch>
